body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.reminder-form {
  width: 300px;
}

.reminder-form label,
.reminder-form select,
.reminder-form input[type="submit"],
h2{
  display: grid;
  margin: 1rem;
}
.show-reminder{
  margin: 1rem;
}

.show-reminder button {
  margin-top: 1rem;
}
.show-reminder span {
  font-weight: bold;
  margin-right: 1rem;
}

.reminder-form select.category{
  margin-top: 0;
  margin-bottom: .5rem;
}

.reminder-form select.provider{
  margin-top: .5rem;
}

.reminder-form label.category{
  margin-bottom: 0;
}

select {
  display: block;
  max-width: 265px;
}